@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
.header {
    width: 100vw;
    height: 134px;
    background-color: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 16px;
}
.header .wrapper {
    width: 1220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_menu {
    width: 452px;
    height: 50px;
}
.header_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 50px;
}
.header_red {
    font-weight: 700;
    color: #E06733;
}
.header_link {
    transition: .3s;
}
.header_link:hover {
    color: #E06733;
    font-weight: 700;
}
.welcome {
    width: 100vw;
    height: 532px;
    background-color: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
.welcome .wrapper {
    width: 1222px;
    height: 407px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    color: #717171;
}
.welcome_img {
    width: 448px;
    height: 407px;
}
.welcome_text {
    width: 549px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.welcome_text h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}
.welcome_green {
    color: #499A18;
}
.welcome_text p {
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}
.welcome_text button {
    border-radius: 10px;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    text-transform: uppercase;
    line-height: 20px;
    background-color: transparent;
    font-size: 16px;
    transition: .3s;
}
.welcome_text button:hover {
    background-color: #E06733;
    color: #fff;
    cursor: pointer;
}
.about {
    width: 100vw;
    height: 666px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inika', serif;
}
.about .wrapper {
    width: 1222px;
    height: 479px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_orange {
    color: #E06733;
}
.about_green {
    color: #499A18;
}
.about_text {
    width: 605px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.about_img {
    width: 464px;
    height: 479px;
}
.about_text h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
}
.about_text p {
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    font-family: 'Inter', sans-serif;
}
.service {
    width: 100vw;
    height: 1300px;
    background-color: #EDF2EC;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.service_wrapper {
    width: 1220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.service__buttons {
    width: 1007px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 0;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 20px;
}
.service__buttons h2 {
    width: 306px;
    font-family: 'Inika', serif;
    font-size: 40px;
    color: #499A18;
}


.service__buttons_buttons {
    display: flex;
    width: 559px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
}

.service__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 955px;
    flex-wrap: wrap;
    padding: 35px 0;
}

.service__img {
    width: 330px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    transition: 0.3s;
}
.service__img_text {
    width: 330px;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 0 0 20px 20px ;
    padding: 10px 0 0 ;
}
.service__img_text h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #E06733;
    padding: 0 0 10px ;
}

.service__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.3s;
    color: #E06733;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

}

.service__button:hover {
    background-color: #E06733;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.service__button:active {
    transform: scale(0.9);
}

.service__img:hover {
    transform: scale(1.1);
}

.service__img:active{
    transform: scale(0.9);
}

.prices {
    width: 100vw;
    background-color: #fff;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prices .wrapper {
    width: 1222px;
    height: 405px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.prices h2 {
    width: 135px;
    height: 49px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;

}

.prices_wrapper_text {
    width: 332px;
    height: 391px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.prices_item {
    border: 1px solid #E3E1D5;
    width: 332px;
    height: 282px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
}

.items {
    width: 250px;
    height: 50px;
    border: 1px solid #EDF2EC;
    border-radius: 20px;
    background-color: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.prices p {
    width: 100px;
    height: 18px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 20px;
}

.prices_green {
    color: #499A18;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    font-family: 'Inter', sans-serif;   
}

.call_us h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    font-family: 'Inter', sans-serif;
    width: 452px;
    height: 103px;
    text-align: right;
}

.call_us button {
    color: #E06733;
    width: 162px;
    height: 50px;
    border-radius: 5px;
    border-color: #E06733;
    font-family: 'Inika', serif;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    line-height: 26px;
}

.call_us button:hover {
    background-color: #E06733;
    transition: .3s;
    color: white;
    cursor: pointer;
}

.call_us {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
}

.call_us img {
    width: 152px;
    height: 175px;
}
.contacts {
    width: 100vw;
    height: 550px;
    background-color: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contacts h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    font-family: 'Inika', serif;
    color: #499A18;
    width: 195px;
    height: 51px;   
}
.contacts_us {
    width: 100vw;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 0 0;
}

.contacts .wrapper {
    width: 1222px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.city {
    width: 450px;
    height: 50px;
    border: 1px solid #D6E7D2;
    background-color: #D6E7D2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    box-shadow: 0px 1px 15px gray;
}

.city p {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 40px;
    color: #717171;   
}
.footer {
    width: 100vw;
    height: 130px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.github {
    width: 200px;
    height: 50px;
    margin: 0 0 0 109px;
}

.icons {
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 0;
}

.image {
    padding: 0 20px 0 20px;
}

.github a {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}